body {
  background-color: #ebeeef;
  font-size: 11px;
  font-family: helvetica;
  color: grey;
}

ul.octodex {
  border: 1px solid black;
  background-color: white;
  max-width: 600px;
  height: 230px;
  margin: 30px auto 30px;
  padding: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}


li.octocat {
  display: inline-block;
  border: 1px solid #ebeeef;
  vertical-align: top;
  width: 180px;
  height: 180px;
  margin: 5px 5px;
}

div {
  box-sizing: border-box;
  display: inline-block;
  width: 180px;
  height: 20px;
  border-bottom: 1px solid #ebeeef;
  float: right;

}


img {
  max-width: 100%;
  max-height: 100%;
  float: right;
  vertical-align: top;
}

div.image-caption {
  display: inline-block;
  max-width: 150px;
  height: 20px;
  vertical-align: middle;
  margin: 0;
  text-align: right;
  box-sizing: border-box;
}


}
span.image-number {
  font-style: italic;
  float: left;
}

span.image-caption {
  color: darkgray;
  display: inline-block;
  float: right;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.authors {
  max-width: 15px;
  margin: 0;
  padding-left: 5px;
  list-style-type: none;
  vertical-align: top;
  display: inline;
  float: right;
  overflow: hidden;
  max-height: 15px;
  text-align: right;
}

li.authors {
  display: inline;
  float: right;
  list-style-type: none;
}




